.anthemeblocks-homeslider-desc {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.anthemeblocks-homeslider-desc>.container {
  position: relative;
  height: 100%;
}
.anthemeblocks-homeslider.owl-carousel.owl-drag .owl-item .item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.anthemeblocks-homeslider.owl-carousel.owl-drag .owl-item .item img { width: auto; }
.anthemeblocks-homeslider_left { text-align: left; }
.anthemeblocks-homeslider_center { text-align: center; }
.anthemeblocks-homeslider_right { text-align: right; }
.anthemeblocks-homeslider .owl-prev,
.anthemeblocks-homeslider .owl-next {
  position: absolute;
  top: calc(50% - 15px);
  z-index: 2;
  cursor: pointer;
}
.anthemeblocks-homeslider .owl-prev i,
.anthemeblocks-homeslider .owl-next i { font-size: 30px; }
.anthemeblocks-homeslider .owl-prev { left: 7px; }
.anthemeblocks-homeslider .owl-next { right: 7px; }
.anthemeblocks-homeslider .owl-stage-outer.disabled .owl-prev,
.anthemeblocks-homeslider .owl-stage-outer.disabled .owl-next { display: none; }
.anthemeblocks-homeslider .owl-dots {
  -webkit-tap-highlight-color: transparent;
  position: absolute;
  bottom: 27px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.anthemeblocks-homeslider.owl-dots_left .owl-dots { text-align: left; }
.anthemeblocks-homeslider.owl-dots_center .owl-dots { text-align: center; }
.anthemeblocks-homeslider.owl-dots_right .owl-dots { text-align: right; }
.anthemeblocks-homeslider.owl-dots_disabled .owl-dots { display: none; }

.anthemeblocks-homeslider .owl-dots .owl-dot {
 display: inline-block;
 zoom: 1;
 *display: inline;
}
.anthemeblocks-homeslider .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 4px;
  background: #ffffff;
  display: block;
  -webkit-backface-visibility: visible;
  transition: all 200ms ease;
  border-radius: 0;
  border: 0;
}
.anthemeblocks-homeslider .owl-dots .owl-dot.active span,
.anthemeblocks-homeslider .owl-dots .owl-dot:hover span { background: #869791; }

.anthemeblocks-homeslider .owl-dots .owl-dot.active span {
  background: #000;
}

.anthemeblocks-homeslider .owl-prev,
.anthemeblocks-homeslider .owl-next {
  position: absolute;
  top: 50%;
  z-index: 2;
  cursor: pointer;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  border: 0;
  display: flex!important;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  padding: 0!important;
  margin: 0!important;
  border-radius: 50%!important;
  background: #dbdee7!important;
}
.anthemeblocks-homeslider .owl-prev:hover,
.anthemeblocks-homeslider .owl-next:hover {
  background: #000!important;
}

@media (max-width: 768px){
  .anthemeblocks-homeslider-hide-mobile { display: none !important; }
}


.anthemeblocks-homeslider.owl-carousel.owl-drag .owl-item img {
  width: auto!important;
}
.anthemeblocks-homeslider.owl-carousel.owl-drag.img-responsive .owl-item .item img {
  width: 100%!important;
}

.anthemeblocks-homeslider .anthemeblocks-homeslider-desc>.container {
  height: 100%;
  padding: 0 15px 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.anthemeblocks-homeslider.anthemeblocks-homeslider_left .anthemeblocks-homeslider-desc>.container {
  align-items: flex-start;
}
.anthemeblocks-homeslider.anthemeblocks-homeslider_right .anthemeblocks-homeslider-desc>.container {
  align-items: flex-end;
}
.anthemeblocks-homeslider-desc {
  top: 0;
  bottom: 0;
  text-align: center;
  margin: auto;
  height: 100%;
}
.anthemeblocks-homeslider.anthemeblocks-homeslider_left .anthemeblocks-homeslider-desc {
  text-align: left;
}
.anthemeblocks-homeslider.anthemeblocks-homeslider_right .anthemeblocks-homeslider-desc {
  text-align: right;
}
.anthemeblocks-homeslider-desc .h2 {
  margin-bottom: 16px;
  line-height: 1.2;
  max-width: 500px;
  text-transform: none;
}
.anthemeblocks-homeslider_center .anthemeblocks-homeslider-desc p:not(.h2) {
  max-width: 780px;
  margin: 0 auto 33px;
  line-height: 1.75;
}
.anthemeblocks-homeslider-desc p:not(.h2) {
  margin-bottom: 45px;
  line-height: 1.6;
}
.anthemeblocks-homeslider.anthemeblocks-homeslider_right .anthemeblocks-homeslider-desc p:not(.h2),
.anthemeblocks-homeslider.anthemeblocks-homeslider_left .anthemeblocks-homeslider-desc p:not(.h2) {
  max-width: 380px;
}
.anthemeblocks-homeslider-desc .btn-primary {
  margin-bottom: 31px;
}
.anthemeblocks-homeslider_right .anthemeblocks-homeslider-desc {
  text-align: left;
}
.anthemeblocks-homeslider.anthemeblocks-homeslider_right .anthemeblocks-homeslider-desc>.container {
  align-items: flex-end;
}
.anthemeblocks-homeslider_right .anthemeblocks-homeslider-content {
  max-width: calc(50% - 20px);
}


@media (max-width: 1400px) {

  .anthemeblocks-homeslider.img-responsive .anthemeblocks-homeslider-desc>.container {
    padding: 30px 60px;
  }
  .anthemeblocks-homeslider .owl-next {
    right: 0;
  }
  .anthemeblocks-homeslider .owl-prev {
    left: 0;
  }
}
@media (max-width: 1200px) {
  .anthemeblocks-homeslider-desc .h2 {
    font-size: 40px;

  }
  .anthemeblocks-homeslider.img-responsive .anthemeblocks-homeslider-desc p {
    margin-bottom: 20px;
  }
  .img-responsive .anthemeblocks-homeslider-desc .h2 {
    font-size: 40px;
    margin-bottom: 10px;

  }
  .anthemeblocks-homeslider-desc p {
    max-width: 600px;
    width: 100%;
  }
  .img-responsive .anthemeblocks-homeslider-desc .btn-primary {
    margin-top: 15px;
  }
  .anthemeblocks-homeslider .anthemeblocks-homeslider-desc>.container {
    padding: 0 70px;
  }
}
@media (max-width: 991px) {
  .img-responsive .anthemeblocks-homeslider-desc .h2 {
    font-size: 30px;
  }
  .anthemeblocks-homeslider .owl-dots {
    bottom: 15px;
  }
  .img-responsive .anthemeblocks-homeslider-desc .btn-primary {
    margin: 0;
    display: none;
  }
  .anthemeblocks-homeslider.owl-carousel.owl-drag .owl-item .item img {
    width: auto!important;
    height: 480px;
  }
}
@media (max-width: 767px) {
  .anthemeblocks-homeslider.owl-carousel.owl-drag .owl-item img {
    height: 300px;
  }
  .anthemeblocks-homeslider-desc p:not(.h2) {
    margin-bottom: 15px!important;
  }

  .anthemeblocks-homeslider.img-responsive .anthemeblocks-homeslider-desc p.h2 {
    font-size: 40px;
    margin-bottom: 10px;
  }
  .anthemeblocks-homeslider .owl-dots {
    bottom: 5px;
  }
  .anthemeblocks-homeslider.img-responsive .anthemeblocks-homeslider-desc>.container {
    padding: 15px 30px;
  }
  .img-responsive .anthemeblocks-homeslider-desc .btn-primary,
  .an-theme-blocks-home-slider-block .owl-nav {
    display: none;
  }
  .anthemeblocks-homeslider .owl-prev i, .anthemeblocks-homeslider .owl-next i {
    font-size: 40px;
  }

  .anthemeblocks-homeslider-hide-mobile {
    display: none!important;
  }
  .anthemeblocks-homeslider.owl-carousel.owl-drag .owl-item .item img,
  .anthemeblocks-homeslider.owl-carousel.owl-drag.img-responsive .owl-item .item img {
    width: auto!important;
    height: 380px;
  }

}
@media (max-width: 640px) {
  .anthemeblocks-homeslider-desc .h2 {
    font-size: 32px;
  }
}
@media (max-width: 580px) {
  .anthemeblocks-homeslider_right .anthemeblocks-homeslider-content {
    max-width: calc(70% - 20px);
  }
  .anthemeblocks-homeslider.img-responsive .anthemeblocks-homeslider-desc>.container {
    padding: 15px 10px;
  }


  .anthemeblocks-homeslider.img-responsive .owl-dots {
    bottom: 5px;
  }
  .anthemeblocks-homeslider .owl-prev { left: 0px; }
  .anthemeblocks-homeslider .owl-next { right: 0px; }
  .anthemeblocks-homeslider .anthemeblocks-homeslider-desc>.container {
    padding: 0 30px;
  }
  .anthemeblocks-homeslider.img-responsive .anthemeblocks-homeslider-desc .btn-primary {
    display: none;
  }
}



.anthemeblocks-homeslider:not(.owl-carousel) {
  display: flex!important;
  min-height: 900px;
  overflow: hidden;
}

.anthemeblocks-homeslider:not(.owl-carousel) {
  opacity: 0;
}

.an-theme-blocks-home-slider-block {
  position: relative;
  margin-bottom: 40px;

}
.an-theme-blocks-home-slider-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  pointer-events: none;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.75s ease 0.75s;
}

.anthemeblocks-loader-image {
  width: 250px;
  height: 250px;
  content: url("../images/loading.svg");
}

.an-theme-blocks-home-slider-block.initialized .an-theme-blocks-home-slider-loader {
  opacity: 0;
}
.anthemeblocks-homeslider.owl-carousel.owl-drag .owl-item .item img {
  -moz-transform-style: flat;
}

.an-theme-blocks-home-slider-block .owl-nav {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0;
}

.an-theme-blocks-home-slider-block .owl-nav .container {
  position: relative;
}

@media (min-width: 768px) {
  .anthemeblocks-homeslider-hide-desktop,
  .anthemeblocks-homeslider-hide-desktop-content .anthemeblocks-homeslider-desc {
    display: none;
  }
}
@media (max-width: 767px) {
  .anthemeblocks-homeslider-hide-mobile-content .anthemeblocks-homeslider-desc {
    display: none;
  }
}
.an-theme-blocks-home-slider-block .owl-nav {
  opacity: 0;
}
.an-theme-blocks-home-slider-block:hover .owl-nav {
  opacity: 1;
}
