.promoblock_fullw {
    margin: 30px 0 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.promoblock_fullw-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;

}
.block-separator {
    background: #cfcfcf;
    height: 1px;
    width: 105px;
    margin: 0 auto;
}
.promoblock_fullw img {
    width: 50%;
    height: auto;
}
.promoblock_fullw.left .promoblock_fullw-wrapper {
    justify-content: flex-start;
}
.promoblock_fullw.right .promoblock_fullw-wrapper {
    justify-content: flex-end;
}
.promoblock_fullw-wrapper:after {
    display: none;
}
.promoblock_fullw-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    width: 100%;
}

.promoblock_fullw-content h2 {
    line-height: 1.2;
    margin: 0 0 30px;
    text-align: center;
}
.promoblock_fullw-content p {
    text-align: center;
    margin: 32px 0 45px;
    max-width: 530px;
    color: #000;
    font-weight: 400;
}
.promoblock_fullw-content .btn-primary {
    color: #000;
    background: transparent;
}
@media (max-width: 1200px) {
    .promoblock_fullw-content h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .promoblock_fullw-content .btn-primary {
        margin: 20px 0 0;
    }
}
@media (max-width: 991px) {
    .promoblock_fullw-content {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        left: 0;
        min-height: 250px;
        width: 100%;
        max-width: 100%;
        padding: 10px 15px;
        background: rgba(250,250,250,.9);
    }
    .promoblock_fullw {
        min-height: 250px;
    }
    .promoblock_fullw-content p {
        margin: 15px 0;
    }
    .promoblock_fullw img {
        width: 100%;
    }
}

@media (max-width: 580px) {
    .promoblock_fullw-content .block-separator {
        display: none;
    }
    .promoblock_fullw-content h2 {
        margin-bottom: 0;
    }
}
